asgiref==3.4.1
autopep8==1.5.7
Django==3.2.5
# mysqlclient @ file:///C:/users/bxbum/desktop/bums/programmimg/practicenote/ezmap/mysqlclient-1.4.6-cp38-cp38-win32.whl
pycodestyle==2.7.0
pytz==2021.1
sqlparse==0.4.1
toml==0.10.2
