{% block content1 %}
{% endblock %}
<div>
    <div align="center" style="margin-top: 13%; font-size: 7vw;">
        <h1>이지넷 제품 찾기</h1>
    </div>
    <div align="center" style="margin-bottom: 2%; font-size: 7vw;">
        <form action="." method="get">
            {% csrf_token %}
            물건 검색 :
            <input class="tags" type="text" name="message" style="font-size: 5vw;">
            <input type="submit" value="검색" style="font-size: 7vw;">
        </form>
    </div>
    <div align="center" style="margin-bottom: 2%; font-size: 7vw;">
        {{search}} {{message}}
        <div>
            <strong>{{nm}}</strong>
        </div>
    </div>
    <br>
    <div align="center" style="margin-bottom: 1%; font-size: 7vw;">
        <table align="center">
            <thead>
                <tr>
                    <th align="center" style="border-bottom: 1px solid black; width: 20%;">모델명</th>
                    <th align="center" style="border-bottom: 1px solid black; width: 20%;">창고명</th>
                    <th align="center" style="border-bottom: 1px solid black; width: 20%;">위치좌표</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">{% for i in md %}<li style="margin-top: 1%; border-bottom: 1px solid black;"><a
                                href="/{{i.loc0}}/{{ i.model }}">{{i.model}}</a></li>{% endfor %}</td>
                    <td align="center">{% for i in md %}<li style="margin-top: 1%; border-bottom: 1px solid black;">{{i.loc0}}</li>{% endfor %}</td>
                    <td align="center">{% for i in md %}<li style="margin-top: 1%; border-bottom: 1px solid black;">{{i.loc1}}</li>{% endfor %}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div align="center" style="margin-bottom: 2%;">
        <input type="button" onclick="location.href='.'" value="새로고침" style="font-size: 5vw;">
    </div>
    <br>
    <div align="center">
        <input type="button" onclick="location.href='/'" value="홈으로" style="font-size: 5vw;">
    </div>
    <br>
    <br>
    <div align="center" style="font-size: 5vw;">
        <form action="." method="GET" id="gowh">
            창고 :
            <select name="jinsung" form="gowh" style="font-size: 5vw;">
                <option value="">선택하세요</option>
                <optgroup label="진성빌딩">
                    <option value="jinsung3">진성3층</option>
                    <option value="jinsungB">진성지하</option>
                </optgroup>
                <optgroup label="이지넷빌딩">
                    <option value="EZB1">이지넷지하</option>
                    <option value="EZ1">이지넷1층</option>
                    <option value="EZ2">이지넷2층</option>
                    <option value="EZ3">이지넷3층</option>
                    <option value="EZ4">이지넷4층</option>
                    <option value="EZ5">이지넷5층</option>
                </optgroup>
                <optgroup label="동아장창고">
                    <option value="DAJL">동아장 왼쪽</option>
                    <option value="DAJR">동아장 오른쪽</option>
                </optgroup>
            </select>
            <input type="submit" value="이동" style="font-size: 5vw;">
        </form>
    </div>
</div>
{% block content2 %}
{% endblock %}