{% extends 'base.html' %}
{% block content1 %}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>ezmap</title>
    <style type="text/css">
        td {
            text-align: center;
            width: 10%;
            height: 10%;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function () {
            var availableTags = [
                {% for i in gg %}"{{i.model}}", {% endfor %}
                        ];
        $(".tags").autocomplete({
            source: availableTags
        });
                      });
    </script>
</head>

<body>
{% endblock %}
{% block content2 %}
    <div align="center" style="font-size: 5vw;">
        <h3 style="margin-bottom: 1%;">동아장 오른쪽</h3>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <table style="width: 55%;" style="font-size: 5vw;">
            <tbody>
                <tr>
                    <td>
                        {% if smd %}<li>{{smd.model}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                    <td>
                        {% if smd %}<li>{{smd.loc1}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <input style="font-size: 5vw;" type="button" onclick="location.href='/editdajR/'" value="수정하기">
    </div>
    <div align="center">
        <table align="center" border="1" style="width: 90%; height: 30em; border-collapse: collapse;">
            <tbody>
                <tr>
                    <td style="{{findL6}}">{{L6.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findU6}}">{{U6.model}}</td>
                </tr>
                <tr>
                    <td style="{{findL7}}">{{L7.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findU7}}">{{U7.model}}</td>
                </tr>
                <tr>
                    <td style="{{findL8}}">{{L8.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findU8}}">{{U8.model}}</td>
                </tr>
                <tr>
                    <td style="{{findL9}}">{{L9.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findU9}}">{{U9.model}}</td>
                </tr>
                <tr>
                    <td style="{{findL10}}">{{L10.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findU10}}">{{U10.model}}</td>
                </tr>
                <tr>
                    <td style="{{findL11}}">{{L11.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findU11}}">{{U11.model}}</td>
                </tr>
                <tr>
                    <td style="{{findL12}}">{{L12.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findU12}}">{{U12.model}}</td>
                </tr>
                <tr>
                    <td style="{{findL13}}">{{L13.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findU13}}">{{U13.model}}</td>
                </tr>
                <tr>
                    <td style="{{findL14}}">{{L14.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findU14}}">{{U14.model}}</td>
                </tr>
                <tr>
                    <td style="{{findL15}}">{{L15.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}