{% extends 'base.html' %}
{% block content1 %}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>ezmap</title>
    <style type="text/css">
        td {
            text-align: center;
            width: 10%;
            height: 10%;
        }
    </style>
    
</head>

<body>
{% endblock %}
{% block content2 %}
    <div align="center" style="font-size: 5vw;">
        <h3 style="margin-bottom: 1%;">동아장 왼쪽</h3>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <table style="width: 55%; font-size: 5vw;" >
            <tbody>
                <tr>
                    <td>
                        {% if smd %}<li>{{smd.model}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                    <td>
                        {% if smd %}<li>{{smd.loc1}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <input style="font-size: 5vw;" type="button" onclick="location.href='/editdajL/'" value="수정하기">
    </div>
    <div align="center">
        <table align="center" border="1" style="width: 90%; height: 30em; border-collapse: collapse;">
            <tbody>
                <tr>
                    <td style="{{findB6}}">{{B6.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK6}}">{{K6.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK7}}">{{K7.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK8}}">{{K8.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK9}}">{{K9.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK10}}">{{K10.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK11}}">{{K11.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK12}}">{{K12.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK13}}">{{K13.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK14}}">{{K14.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK15}}">{{K15.model}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}