<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>ezmap</title>
    <style type="text/css">
        td {
            text-align: center;
            width: 10%;
            height: 10%;
        }
    </style>
    
</head>

<body>
    <div>
        <div align="center" style="margin-top: 13%;">
            <h1>이지넷 제품 찾기</h1>
        </div>
        <div align="center" style="margin-bottom: 2%;">
            <form action="." method="get">
                {% csrf_token %}
                물건 검색 :
                <input type="text" name="message">
                <input type="submit" value="검색">
            </form>
        </div>
        <div align="center" style="margin-bottom: 2%;">
            {{search}} {{message}}
            <div>
                <strong>{{nm}}</strong>
            </div>
        </div>
        <div align="center" style="margin-bottom: 1%;">
            <table align="center">
                <thead>
                    <tr>
                        <th align="center" style="border-bottom: 1px solid black; width: 20%;">모델명</th>
                        <th align="center" style="border-bottom: 1px solid black; width: 20%;">창고명</th>
                        <th align="center" style="border-bottom: 1px solid black; width: 20%;">위치좌표</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">{% for i in md %}<li style="margin-top: 1%;"><a href="/{{i.loc0}}/{{ i.model }}">{{i.model}}</a></li>{%endfor %}</td>
                        <td align="center">{% for i in md %}<li style="margin-top: 1%;">{{i.loc0}}</li>{% endfor %}</td>
                        <td align="center">{% for i in md %}<li style="margin-top: 1%;">{{i.loc1}}</li>{% endfor %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div align="center" style="margin-bottom: 2%;">
            <input type="button" onclick="location.href='.'" value="새로고침">
        </div>
        <div align="center">
            <input type="button" onclick="location.href='/'" value="홈으로">
        </div>
        <br>
        <div align="center">
            <form action="." method="GET" id="gowh">
                창고 :
                <select name="jinsung" form="gowh">
                    <option value="">선택하세요</option>
                    <optgroup label="진성빌딩">
                        <option value="jinsung3">진성3층</option>
                        <option value="jinsungB">진성지하</option>
                    </optgroup>
                    <optgroup label="이지넷빌딩">
                        <option value="EZB1">이지넷지하</option>
                        <option value="EZ1">이지넷1층</option>
                        <option value="EZ2">이지넷2층</option>
                        <option value="EZ3">이지넷3층</option>
                        <option value="EZ4">이지넷4층</option>
                        <option value="EZ5">이지넷5층</option>
                    </optgroup>
                    <optgroup label="동아장창고">
                        <option value="DAJL">동아장 왼쪽</option>
                        <option value="DAJR">동아장 오른쪽</option>
                    </optgroup>
                </select>
                <input type="submit" value="이동">
            </form>
        </div>
    </div>
    <div align="center">
        <h3 style="margin-bottom: 1%;">동아장 왼쪽</h3>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <table style="width: 55%;">
            <tbody>
                <tr>
                    <td>
                        {% if smd %}<li>{{smd.model}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                    <td>
                        {% if smd %}<li>{{smd.loc1}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <input type="button" onclick="location.href='/editdajL/'" value="수정하기">
    </div>
    <div align="center">
        <table align="center" border="1" style="width: 90%; height: 30em; border-collapse: collapse;">
            <tbody>
                <tr>
                    <td style="{{findB6}}">{{B6.model}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK6}}">{{K6.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK7}}">{{K7.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK8}}">{{K8.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK9}}">{{K9.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK10}}">{{K10.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK11}}">{{K11.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK12}}">{{K12.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK13}}">{{K13.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK14}}">{{K14.model}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="{{findK15}}">{{K15.model}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>