{% extends 'base.html' %}
{% block content1 %}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>ezmap</title>
    <style type="text/css">
        td {
            text-align: center;
            width: 6.66%;
            height: auto;
        }

        .tags {
            width: 80%;
        }

        /* .tg-2lax {
            width: 4.54%;
            height: 10%;
        } */
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function () {
            var availableTags = [
                {% for i in gg %}"{{i.model}}", {% endfor %}
                ];
        $(".tags").autocomplete({
            source: availableTags
        });
              });
    </script>
</head>

<body>
{% endblock %}
{% block content2 %}
    <div align="center" style="font-size: 5vw;">
        <h3>이지넷5층</h3>
    </div>
    <form action="/editeznet5/" method="POST">
        {% csrf_token %}
        <div align="center">
            <div align="center" style="padding-bottom: 1%;">
                <input style="font-size: 5vw;" type="submit" value="저장">
            </div>
            <h4 align="center" style="font-size: 5vw;">이지넷5층</h4>
            <table align="center" border="1" style="width: 90%; height: 100rem; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                        <th class="tg-0lax"></th>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;">벽</td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EP8" value="{{EP8.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ER8" value="{{ER8.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET8" value="{{ET8.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EP9" value="{{EP9.model}}"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET9" value="{{ET9.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EP10" value="{{EP10.model}}"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET10" value="{{ET10.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;">벽</td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EP11" value="{{EP11.model}}"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EP12" value="{{EP12.model}}"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EP13" value="{{EP13.model}}"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EP14" value="{{EP14.model}}"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EP15" value="{{EP15.model}}"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EP16" value="{{EP16.model}}"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;">입구</td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET23" value="{{ET23.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET24" value="{{ET24.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET25" value="{{ET25.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET26" value="{{ET26.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET27" value="{{ET27.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET28" value="{{ET28.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET29" value="{{ET29.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET30" value="{{ET30.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET31" value="{{ET31.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="ET32" value="{{ET32.model}}"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                        <td class="tg-0lax" style="background-color: dimgray;"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EU45" value="{{EU45.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EV45" value="{{EV45.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EW45" value="{{EW45.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EX45" value="{{EX45.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EY45" value="{{EY45.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EZ45" value="{{EZ45.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="FA45" value="{{FA45.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="FB45" value="{{FB45.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="FC45" value="{{FC45.model}}"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="FD45" value="{{FD45.model}}"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EZ46" value="{{EZ46.model}}"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EZ47" value="{{EZ47.model}}"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EZ48" value="{{EZ48.model}}"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"><input type="text" class="tags" name="EZ49" value="{{EZ49.model}}"></td>
                    </tr>
                    <tr>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>

</html>
{% endblock %}