{% extends 'base.html' %}
{% block content1 %}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>ezmap</title>
    <style type="text/css">
        td {
            text-align: center;
            width: 10%;
            height: 10%;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function () {
            var availableTags = [
                {%for i in gg %}"{{i.model}}", {% endfor %}
            ];
        $(".tags").autocomplete({
            source: availableTags
        });
          });
    </script>
</head>

<body>
{% endblock %}
{% block content2 %}
    <div align="center" style="font-size: 5vw;">
        <h3>동아장 왼쪽</h3>
    </div>
    {{asdf}}
    <div align="center">
        <form action="/editdajL/" method="POST" id="new">
            {% csrf_token %}
            <div align="center" style="padding-bottom: 1%;">
                <input style="font-size: 5vw;" type="submit" value="저장">
            </div>
            <table align="center" border="1" style="width: 90%; height: 30em; border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td><input class="tags" type="text" name="B6" value="{{B6.model}}">{{findB6}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K6" value="{{K6.model}}">{{findK6}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K7" value="{{K7.model}}">{{findK7}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K8" value="{{K8.model}}">{{findK8}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K9" value="{{K9.model}}">{{findK9}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K10" value="{{K10.model}}">{{findK10}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K11" value="{{K11.model}}">{{findK11}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K12" value="{{K12.model}}">{{findK12}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K13" value="{{K13.model}}">{{findK13}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K14" value="{{K14.model}}">{{findK14}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input class="tags" type="text" name="K15" value="{{K15.model}}">{{findK15}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>

</html>
{% endblock %}