{% extends 'base.html' %}
{% block content1 %}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>ezmap</title>
    <style type="text/css">
        td {
            text-align: center;
            width: 5%;
            height: 1.66%;
        }

    </style>

</head>

<body>
{% endblock %}
{% block content2 %}
    <div align="center" style="font-size: 5vw;"> 
        <h3>이지넷1층</h3>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <table style="width: 55%; font-size: 5vw;">
            <tbody>
                <tr>
                    <td>
                        {% if smd %}<li>{{smd.model}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                    <td>
                        {% if smd %}<li>{{smd.loc1}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <input style="font-size: 5vw;" type="button" onclick="location.href='/editeznet1/'" value="수정하기">
    </div>
    <h4 align="center" style="font-size: 5vw;">이지넷1층</h4>
    <div align="center">
        <table align="center" border="1" style="width: 90%; height: auto; border-collapse: collapse;">
            <tbody>
                <tr>
                    <th class="tg-0lax" style="{{findY4}};">{{Y4.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findAO4}};">{{AO4.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY5}};">{{Y5.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO5}};">{{AO5.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY6}};">{{Y6.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO6}};">{{AO6.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY7}};">{{Y7.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO7}};">{{AO7.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY8}};">{{Y8.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO8}};">{{AO8.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY9}};">{{Y9.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO9}};">{{AO9.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY10}};">{{Y10.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO10}};">{{AO10.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY11}};">{{Y11.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO11}};">{{AO11.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY12}};">{{Y12.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO12}};">{{AO12.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY13}};">{{Y13.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO13}};">{{AO13.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY14}};">{{Y14.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO14}};">{{AO14.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY15}};">{{Y15.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO15}};">{{AO15.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY16}};">{{Y16.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY17}};">{{Y17.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <th class="tg-0lax" style="background-color: dimgray;">입구</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY18}};">{{Y18.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY19}};">{{Y19.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO19}};">{{AO19.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY20}};">{{Y20.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO20}};">{{AO20.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY21}};">{{Y21.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO21}};">{{AO21.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY22}};">{{Y22.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO22}};">{{AO22.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="background-color: {{findY23}};">{{Y23.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO23}};">{{AO23.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY24}};">{{Y24.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO24}};">{{AO24.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY25}};">{{Y25.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO25}};">{{AO25.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY26}};">{{Y26.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO26}};">{{AO26.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY27}};">{{Y27.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO27}};">{{AO27.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="background-color: {{findY28}};">{{Y28.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO28}};">{{AO28.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY29}};">{{Y29.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO29}};">{{AO29.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY30}};">{{Y30.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO30}};">{{AO30.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY31}};">{{Y31.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO31}};">{{AO31.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY32}};">{{Y32.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO32}};">{{AO32.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY33}};">{{Y33.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAO33}};">{{AO33.model}}</td>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY34}};">{{Y34.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR34}};">{{AR34.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY35}};">{{Y35.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR35}};">{{AR35.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY36}};">{{Y36.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR36}};">{{AR36.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY37}};">{{Y37.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR37}};">{{AR37.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY38}};">{{Y38.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR38}};">{{AR38.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY39}};">{{Y39.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR39}};">{{AR39.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findY40}};">{{Y40.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR40}};">{{AR40.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR41}};">{{AR41.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR42}};">{{AR42.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR43}};">{{AR43.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR44}};">{{AR44.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR45}};">{{AR45.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR46}};">{{AR46.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR47}};">{{AR47.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR48}};">{{AR48.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 align="center" style="font-size: 5vw;">이지넷 테라스</h4>
    <div align="center">
        <table align="center" border="1" style="width: 90%; height: auto; border-collapse: collapse;">
            <tbody>
                <tr>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;">입구</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR59}};">{{AR59.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR60}};">{{AR60.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR61}};">{{AR61.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR62}};">{{AR62.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR63}};">{{AR63.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR64}};">{{AR64.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR65}};">{{AR65.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR66}};">{{AR66.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR67}};">{{AR67.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAI68}};">{{AR68.model}}</td>
                    <td class="tg-0lax" style="{{findAJ68}};">{{AR68.model}}</td>
                    <td class="tg-0lax" style="{{findAK68}};">{{AR68.model}}</td>
                    <td class="tg-0lax" style="{{findAL68}};">{{AR68.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR68}};">{{AR68.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findZ69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAA69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAB69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAC69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAD69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAE69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAF69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAG69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAH69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAI69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAJ69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAK69}};">{{AR69.model}}</td>
                    <td class="tg-0lax" style="{{findAL69}};">{{AR69.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findAR69}};">{{AR69.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findZ48}};">{{Z48.model}}</td>
                    <td class="tg-0lax" style="{{findAA48}};">{{AA48.model}}</td>
                    <td class="tg-0lax" style="{{findAB48}};">{{AB48.model}}</td>
                    <td class="tg-0lax" style="{{findAC48}};">{{AC48.model}}</td>
                    <td class="tg-0lax" style="{{findAD48}};">{{AD48.model}}</td>
                    <td class="tg-0lax" style="{{findAE48}};">{{AE48.model}}</td>
                    <td class="tg-0lax" style="{{findAF48}};">{{AF48.model}}</td>
                    <td class="tg-0lax" style="{{findAG48}};">{{AG48.model}}</td>
                    <td class="tg-0lax" style="{{findAH48}};">{{AH48.model}}</td>
                    <td class="tg-0lax" style="{{findAI48}};">{{AI48.model}}</td>
                    <td class="tg-0lax" style="{{findAJ48}};">{{AJ48.model}}</td>
                    <td class="tg-0lax" style="{{findAK48}};">{{AK48.model}}</td>
                    <td class="tg-0lax" style="{{findAL48}};">{{AL48.model}}</td>
                    <td class="tg-0lax" style="{{findAM48}};">{{AM48.model}}</td>
                    <td class="tg-0lax" style="{{findAN48}};">{{AN48.model}}</td>
                    <td class="tg-0lax" style="{{findAO48}};">{{AO48.model}}</td>
                    <td class="tg-0lax" style="{{findAP48}};">{{AP48.model}}</td>
                    <td class="tg-0lax" style="{{findAQ48}};">{{AQ48.model}}</td>
                    <td class="tg-0lax" style="{{findAR73}};">{{AR73.model}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}