{% extends 'base.html' %}
{% block content1 %}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>ezmap</title>
    <style type="text/css">
        td {
            text-align: center;
            width: 5.88%;
            height: auto;
        }

    </style>

</head>

<body>
{% endblock %}
{% block content2 %}
    <div align="center" style="font-size: 5vw;">
        <h3>이지넷3층</h3>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <table style="width: 55%; font-size: 5vw;">
            <tbody>
                <tr>
                    <td>
                        {% if smd %}<li>{{smd.model}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                    <td>
                        {% if smd %}<li>{{smd.loc1}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <input style="font-size: 5vw;" type="button" onclick="location.href='/editeznet3/'" value="수정하기">
    </div>
    <h4 align="center" style="font-size: 5vw;">이지넷3층</h4>
    <div align="center">
        <table align="center" border="1" style="width: 90%; height: auto; border-collapse: collapse;">
            <tbody>
                <tr>
                    <th class="tg-0lax" style="{{findBT4}};">{{BT4.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ4}};">{{CJ4.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT5}};">{{BT5.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ5}};">{{CJ5.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT6}};">{{BT6.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ6}};">{{CJ6.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT7}};">{{BT7.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ7}};">{{CJ7.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT8}};">{{BT8.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ8}};">{{CJ8.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT9}};">{{BT9.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ9}};">{{CJ9.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT10}};">{{BT10.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ10}};">{{CJ10.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT11}};">{{BT11.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ11}};">{{CJ11.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT12}};">{{BT12.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ12}};">{{CJ12.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT13}};">{{BT13.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ13}};">{{CJ13.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT14}};">{{BT14.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ14}};">{{CJ14.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT15}};">{{BT15.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ15}};">{{CJ15.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT16}};">{{BT16.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ16}};">{{CJ16.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT17}};">{{BT17.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ17}};">{{CJ17.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT18}};">{{BT18.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT19}};">{{BT19.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="background-color: dimgray;">입구</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT20}};">{{BT20.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT21}};">{{BT21.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ21}};">{{CJ21.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT22}};">{{BT22.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ22}};">{{CJ22.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT23}};">{{BT23.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ23}};">{{CJ23.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT24}};">{{BT24.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ24}};">{{CJ24.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT25}};">{{BT25.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ25}};">{{CJ25.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT26}};">{{BT26.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ26}};">{{CJ26.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT27}};">{{BT27.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ27}};">{{CJ27.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT28}};">{{BT28.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ28}};">{{CJ28.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT29}};">{{BT29.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ29}};">{{CJ29.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT30}};">{{BT30.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ30}};">{{CJ30.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT31}};">{{BT31.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ31}};">{{CJ31.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT32}};">{{BT32.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ32}};">{{CJ32.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT33}};">{{BT33.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ33}};">{{CJ33.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT34}};">{{BT34.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ34}};">{{CJ34.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT35}};">{{BT35.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ35}};">{{CJ35.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT36}};">{{BT36.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ36}};">{{CJ36.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT37}};">{{BT37.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ37}};">{{CJ37.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT38}};">{{BT38.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ38}};">{{CJ38.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT39}};">{{BT39.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ39}};">{{CJ39.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT40}};">{{BT40.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ40}};">{{CJ40.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT41}};">{{BT41.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ41}};">{{CJ41.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <th class="tg-0lax" style="{{findBT42}};">{{BT42.model}}</th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax" style="{{findCJ42}};">{{CJ42.model}}</th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                    <th class="tg-0lax" style="background-color: dimgray;"></th>
                </tr>
                <tr>
                    <td class="tg-0lax" style="{{findBT43}};">{{BT43.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findCK45}};">{{CK45.model}}</td>
                    <td class="tg-0lax" style="{{findCL45}};">{{CL45.model}}</td>
                    <td class="tg-0lax" style="{{findCM45}};">{{CM45.model}}</td>
                    <td class="tg-0lax" style="{{findCN45}};">{{CN45.model}}</td>
                    <td class="tg-0lax" style="{{findCO45}};">{{CO45.model}}</td>
                    <td class="tg-0lax" style="{{findCP45}};">{{CP45.model}}</td>
                    <td class="tg-0lax" style="{{findCQ45}};">{{CQ45.model}}</td>
                    <td class="tg-0lax" style="{{findCR45}};">{{CR45.model}}</td>
                    <td class="tg-0lax" style="{{findCS45}};">{{CS45.model}}</td>
                    <td class="tg-0lax" style="{{findCT45}};">{{CT45.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findCA50}};">젠더류</td>
                    <td class="tg-0lax" style="{{findBY50}};">{{BY50.model}}</td>
                    <td class="tg-0lax" style="{{findBZ50}};">{{BZ50.model}}</td>
                    <td class="tg-0lax" style="{{findCA50}};">젠더류</td>
                    <td class="tg-0lax" style="{{findCI50}};">{{CI50.model}}</td>
                    <td class="tg-0lax" style="{{findCJ50}};">{{CJ50.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}