{% extends 'base.html' %}
{% block content1 %}
<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <title>ezmap</title>
    <style type="text/css">
        td {
            text-align: center;
            width: 6.66%;
            height: auto;
        }

    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function () {
            var availableTags = [
                {% for i in gg %}"{{i.model}}", {% endfor %}
                        ];
        $(".tags").autocomplete({
            source: availableTags
        });
                      });
    </script>
</head>

<body>
{% endblock %}
{% block content2 %}
    <div align="center" style="font-size: 5vw;">
        <h3>이지넷5층</h3>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <table style="width: 55%; font-size: 5vw;" >
            <tbody>
                <tr>
                    <td>
                        {% if smd %}<li>{{smd.model}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                    <td>
                        {% if smd %}<li>{{smd.loc1}}</li>{% else %} {{pass}} {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div align="center" style="padding-bottom: 1%;">
        <input style="font-size: 5vw;" type="button" onclick="location.href='/editeznet5/'" value="수정하기">
    </div>
    <h4 align="center" style="font-size: 5vw;">이지넷5층</h4>
    <div align="center">
        <table align="center" border="1" style="width: 90%; height: auto; border-collapse: collapse;">
            <tbody>
                <tr>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                    <th class="tg-0lax"></th>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;">벽</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="{{findEP8}};">{{EP8.model}}</td>
                    <td class="tg-0lax" style="{{findER8}};">{{ER8.model}}</td>
                    <td class="tg-0lax" style="{{findET8}};">{{ET8.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="{{findEP9}};">{{EP9.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET9}};">{{ET9.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="{{findEP10}};">{{EP10.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET10}};">{{ET10.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;">벽</td>
                    <td class="tg-0lax" style="{{findDP11}};">{{EP11.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="{{findDP12}};">{{EP12.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="{{findDP13}};">{{EP13.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="{{findDP14}};">{{EP14.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="{{findDP15}};">{{EP15.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="{{findDP16}};">{{EP16.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;">입구</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET23}};">{{ET23.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET24}};">{{ET24.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET25}};">{{ET25.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET26}};">{{ET26.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET27}};">{{ET27.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET28}};">{{ET28.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET29}};">{{ET29.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET30}};">{{ET30.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET31}};">{{ET31.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findET32}};">{{ET32.model}}</td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                    <td class="tg-0lax" style="background-color: dimgray;"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findEU45}};">{{EU45.model}}</td>
                    <td class="tg-0lax" style="{{findEV45}};">{{EV45.model}}</td>
                    <td class="tg-0lax" style="{{findEW45}};">{{EW45.model}}</td>
                    <td class="tg-0lax" style="{{findEX45}};">{{EX45.model}}</td>
                    <td class="tg-0lax" style="{{findEY45}};">{{EY45.model}}</td>
                    <td class="tg-0lax" style="{{findEZ45}};">{{EZ45.model}}</td>
                    <td class="tg-0lax" style="{{findFA45}};">{{FA45.model}}</td>
                    <td class="tg-0lax" style="{{findFB45}};">{{FB45.model}}</td>
                    <td class="tg-0lax" style="{{findFC45}};">{{FC45.model}}</td>
                    <td class="tg-0lax" style="{{findFD45}};">{{FD45.model}}</td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findEZ46}};">{{EZ46.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findEZ47}};">{{EZ47.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findEZ48}};">{{EZ48.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax" style="{{findEZ49}};">{{EZ49.model}}</td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
                <tr>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                    <td class="tg-0lax"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
{% endblock %}